//
//  Development.xcconfig
//  HospitalCash
//
//  Created by Holger Schäufler on 09.02.24.
//

// Insurance Contract Config
NODE_RPC_ENDPOINT = http:/$()/192.168.178.86:8545
CHAIN_ID = 1337
CONTRACT_ADRESS = 0x8936FD38C5AcC5a6CFfb3841153EC604E215309E
// Wallet Config
DAPP_NAME = Hospital Cash
DAPP_URL = https:/$()/the-wallet.dev
DAPP_ICON_URL = https:/$()/the-wallet.dev/favicon.ico
// Health
STEP_LIMIT = 8000
